footer {
  display: flex;
  flex-direction: column;
  background-color: mediumseagreen;
  justify-content: center;
  align-items: center;
  min-height: 3rem;
  min-width: 320px;
max-width: 520px;
line-height: 1.5;
}

.emoji {
  font-size: 3rem;
  font-family: 'Noto Color Emoji', sans-serif;
}

.animationContainer {
  animation: twist 2s linear 0s infinite reverse;
  animation-play-state: paused;
}

.animationContainer:hover {
  animation-play-state: running;
}
@keyframes twist {
  0% {
    transform: rotate(0deg);
		animation-timing-function: ease-in;
  }
  50% {
    transform: rotate(10deg);
		animation-timing-function: ease-out;
  }

}
#colorBlock{
	background-color:  rgb(34, 207, 146);
  min-height: 1rem;
  min-width: 320px;
  max-width: 520px;
  align-self: stretch;
}

#flowerContainer{
  display: flex;
justify-content: center;
  min-width: 320px;
  max-width: 520px; 
}


.easterEgg{
	text-decoration: none;
}
a:visited{
	text-decoration: none;
}
