header {
display: flex;
justify-content: center;
align-items: center;
background-color: rgb(43, 0, 255);
min-height: 4rem;
max-height: 6rem;
min-width: 320px;
max-width: 520px;
}

p{

  text-align: center;
  color: white;
  font-size: 2rem;
  font-family: 'Hubballi', sans-serif;
  font-weight: bolder;
  min-width: 360px;
}


.colorBlock {
  background-color: rgb(0, 110, 255);
  min-height: 1rem;
  min-width: 320px;
max-width: 520px;
}

a{
  text-decoration: none;
}

